<mat-table [dataSource]="data" matSort>
  <ng-container *ngFor="let column of configColumns; let i=index" [cdkColumnDef]="column.displayName">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header>{{ column.displayName }}</mat-header-cell>

    <mat-cell *matCellDef="let row">

      <ng-container *ngIf="column.renderComponent">
        <ng-container #componentContainer></ng-container>
      </ng-container>

      <ng-container *ngIf="column.templateColumn">
        <ng-container *ngFor="let customColumn of customColumns">
          <ng-container *ngIf="customColumn.columName === column.displayName">
            <ng-container *ngTemplateOutlet="customColumn.templateRef; context: {$implicit: row}"></ng-container>
          </ng-container>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="column.rawValue">
        {{column.rawValue(row, column.objectKey)}}
      </ng-container>

      <ng-container *ngIf="!column.rawValue && !column.renderComponent && !column.templateColumn">
        {{column.objectKey.includes('.') ? getNestedValue(row, column.objectKey) : row[column.objectKey] }}
      </ng-container>

    </mat-cell>

  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
