<form [formGroup]="form" (submit)="save()">
  <mat-card-title>{{'subscribers-form.title'|translate}}</mat-card-title>
  <p>
    <mat-card-subtitle
      *ngIf="!data.subscriber"
    >{{'subscribers-form.new'|translate}}</mat-card-subtitle>
    <mat-card-subtitle
      *ngIf="data.subscriber"
    >{{'subscribers-form.edit'|translate}}</mat-card-subtitle>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>{{'subscribers-form.name'|translate}}</mat-label>
      <input matInput required formControlName="Name">
      <mat-error>
        <app-errors-handler [formControl]="$any(form.get('Name'))"></app-errors-handler>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard" class="form-input">
      <mat-label>{{'subscribers-form.email'|translate}}</mat-label>
      <input matInput required formControlName="Email" type="email" name="email">
      <mat-error>
        <app-errors-handler [formControl]="form.get('Email') | formControl"></app-errors-handler>
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>{{'subscribers-form.country-name'|translate}}</mat-label>
      <input type="text"
             autocomplete="potato"
             matInput
             formControlName="searchCountry"
             (ngModelChange)="getCountries()"
             [matAutocomplete]="customAuto">
      <mat-autocomplete #customAuto="matAutocomplete" [displayWith]="displayName.bind(this)"
                        (optionSelected)="selectionChange($event)">
        <ng-container>
          <mat-option *ngFor="let option of countries" [value]="option">
            {{ displayName(option) }}
          </mat-option>
        </ng-container>
      </mat-autocomplete>
      <mat-error>
        <app-errors-handler [formControl]="form.get('searchCountry') | formControl"></app-errors-handler>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" class="form-input">
      <mat-label>{{'subscribers-form.country-code'|translate}}</mat-label>
      <input matInput required formControlName="CountryCode" readonly>
      <mat-error>
        <app-errors-handler [formControl]="form.get('CountryCode') | formControl"></app-errors-handler>
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>{{'subscribers-form.phone-code'|translate}}</mat-label>
      <input matInput required formControlName="PhoneCode" readonly>
      <mat-error>
        <app-errors-handler [formControl]="form.get('PhoneCode') | formControl"></app-errors-handler>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard" class="form-input">
      <mat-label>{{'subscribers-form.phone-number'|translate}}</mat-label>
      <input matInput required formControlName="PhoneNumber">
      <mat-error>
        <app-errors-handler [formControl]="form.get('PhoneNumber') | formControl"></app-errors-handler>
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>{{'subscribers-form.job-title'|translate}}</mat-label>
      <input matInput required formControlName="JobTitle">
      <mat-error>
        <app-errors-handler [formControl]="form.get('JobTitle') | formControl"></app-errors-handler>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard" class="form-input">
      <mat-label>{{'subscribers-form.area'|translate}}</mat-label>
      <input matInput required formControlName="Area">
      <mat-error>
        <app-errors-handler [formControl]="form.get('Area') | formControl"></app-errors-handler>
      </mat-error>
    </mat-form-field>
  </p>
  <p>{{'subscribers-form.topics'|translate}}</p>
  <p>
    <ng-container *ngFor="let checkbox of topics; let i = index" formArrayName="Topics">
      <input type="checkbox" [formControlName]="i"/>{{checkbox.name}}
    </ng-container>

  </p>
  <mat-card-actions>
    <div class="save-button">
      <button mat-raised-button color="primary" type="submit">{{'subscribers-form.save'|translate}}</button>
    </div>
  </mat-card-actions>
</form>
