<form [formGroup]="form" class="login-card" (submit)="login()">
  <div class="login mat-elevation-z8">
    <h1 class="title">{{'login.title'|transloco}}</h1>
    <mat-form-field appearance="standard" class="control-login">
      <mat-label>{{'login.user'|transloco}}</mat-label>
      <input matInput required formControlName="UserName">
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard" class="control-login">
      <mat-label>{{'login.password'|transloco}}</mat-label>
      <input matInput required [type]="hide ? 'password' : 'text'" formControlName="Password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <div class="login-card">
      <button mat-raised-button color="primary"
              class="control-login"
              type="submit" [disabled]="form.invalid"
      >{{'login.sin-in'|transloco}}
      </button>
    </div>
  </div>
</form>
