<div class="login-container">
  <form [formGroup]="form" class="login-form-container" (submit)="login()">
    <div class="login-form mat-elevation-z8">
      <h1 class="my-4">{{'login.title'|translate}}</h1>
      <mat-form-field class="w-100">
        <mat-label>{{'login.user'|translate}}</mat-label>
        <input matInput required formControlName="UserName">
      </mat-form-field>
      <br>
      <mat-form-field class="w-100">
        <mat-label>{{'login.password'|translate}}</mat-label>
        <input matInput required [type]="hide ? 'password' : 'text'" formControlName="Password">
        <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button color="primary"
              class="w-100"
              type="submit" [disabled]="form.invalid"
      >{{'login.sin-in'|translate}}
      </button>
    </div>
  </form>
</div>
